:root {
  --c-bg: #fff;
}

html.dark {
  --c-bg: #050505;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  color: #374151;
}

html {
  background: var(--c-bg);
}

html.dark body {
  color: #e5e7eb;
}

/* 视图过渡 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

a {
  text-decoration: none;
}
